$wood: #873A11;

.cell {
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    // border: 1px solid black;
    background-color: white;
    img {
        width: 75px;
        height: 75px;
        
        cursor: grab;
    }
    // img

    &__move {
        background-color: #05294b;
        width: 100%;
        height: 100%;
    }
    &--black {
        background-color: $wood;
    }

    &--selected {
        background-color: #607938;
    }
}