$wood: #873A11;

.wrap {
    width: 700px;
    height: 700px;
    position: relative;
    background-color: $wood;
    &__board {
        width: 620px;
        height: 620px;
        margin: 30px;
        position: absolute;
        background-color: #f1c78f;
    }
}
.board {
    margin: 10px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

